
h1 {
    text-align: center;
    font-size: 60px;
}

.weeks {
    font-size: 20px;
    color: #8e8e8e;
    font-weight: bold;
}

th {
    font-size: 24px;
    background-color: #d1d1d1;
}

td {
    font-size: 20px;
}

td, table, th {
    border-collapse: collapse;
    border: 0.5px solid #e4e4e4;
}

table {
    text-align: center;
    margin: 10px;
    width: 250px;
}

.holder {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
