body {
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
    cursor: pointer;
}
.sides {
    display: flex;
    gap: 30px;
}
.name {
    font-size: 2rem;
    padding: 2rem 0;
}
.drink-card {
    display: none;
}
.form-select {
    width: 25px;
}
.filterByAlcoholic {
    display: inline-flex;
    gap: 1rem;
    padding: 1rem;
}