* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tevutevas {
    width: 500px;
    border: 1px solid red;
    margin: 50px auto;
}
.tevas {
    background-color: aqua;
    height: 400px;
    position: relative;
   }
.vaikai {
    height: 100px;
    width: 100px;
}
.menu {
    background-color: chocolate;
    height: 20px;
}
/* .vaikai:nth-child(1) {
    background-color: orange;
} */
.vaikas1 {
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
}
.vaikas2 {
    background-color: brown;
    position: absolute;
    top: 0;
    right: 0;
}
.vaikas3 {
    background-color: blueviolet;
    position: absolute;
    bottom: 0;
    left: 0;
}
