
.item-name {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(6, 114, 150);
    padding-bottom: 1rem;
}
.stars {
    padding-bottom: 1rem;
}
img {
    position: relative;
    max-width: 250px;
}
.small {
    position: absolute;
    left: 640px;
    text-align: center;
    background-color: red;
    font-size: 1.2rem;
    height: 30px;
    width: 60px;

}