* {
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 150px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 26%;
    height: 380px;
    position: relative;
    border: 1px solid #e3e3e5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-photo {
    height: 100px;
    margin-bottom: 105px;
    background-color: #f4f4f9;
    border-bottom: 1px solid #e3e3e5;
    display: flex;
    justify-content: center;
}
button{
    position: absolute;
    top: 159px;
    left: 46%;
    background-color: #121312;
    opacity: 60%;
    color: white;
    padding: 5px 10px;
    border-radius: 1rem;
    font-size: 1rem;
    display: none;
    z-index: 3;
    cursor: pointer;
}

.user-photo img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #3333;
    padding: .25rem;
    background-color: white;
    position: absolute;
    top: 15px; 
}

#userTitle {
    font-size: 1rem;
    color: #777;
    /* margin-top: 8rem; */
}

#user_value {
    font-size: 2rem;
    color: #333;
}

.value-list {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 20px; */
}

.value-list li {
    list-style: none;
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    margin: 35px 0;
    
}

.value-list li:hover {
    color: #4CAF50;
    font-size: 2.5rem;
    transition: all 0.1s ease;
}
