
.menu {
    position: absolute;
    padding: 40px;
    min-width: 430px;
    max-height: 888px;
    top:0;
    right: 0;
    color: black;
    background-color: white;
    z-index: 3;
    margin: 0;
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: left;
  
}
.menu nav {
    display: flex;
    flex-direction: column;
}
.menu nav a {
    text-decoration: none;
    color: black;
    font-family: Spectral;
    font-size: 26px;
    font-weight: 400;
    line-height: 28.5px;
    letter-spacing: -1.04px;
}
header hr {
    margin: 38px 0;
}
.strong {
    height:3px;
    border-bottom: 3px solid black;
    margin-bottom: 19px;
}
.hamburger-menu:has(input:checked) + .menu {
    display:flex;
}

.menu .close img {
    cursor: pointer;
    float: right;
}
.menu .close img:hover {
    width: 30px;
    height: 30px;
}
.social {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: 1.3px;
}
.social li {
    cursor: pointer;
}
.social li:hover {
    transform: translateX(-15px);
}
.login-subscribe button {
    height: 39px;
    padding: 8px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    margin-top: 40px;
    width: calc(50% - 10px)
}
nav a:hover {
    transform: translateX(-15px);
}
body:has(#check:checked) .overlay {
    display: block;   
}
